ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;

}
body{
  background-color: black;

}

*{
  text-align: center;
  color:deepskyblue;
  font-family: 'Tilt Warp', sans-serif;
}

.note{
  color: lawngreen;
  font-size: 25px;
}

#id-selector-demo{
  color:darkorange;
  font-size: 20px;
}

li[value="4"]{
  color:fuchsia;
  font-size: 20px;
}

li[value="5"]{
  color: white;
  font-size: 20px;
}

/* Write your CSS below, don't change the rules above. */